<div id="page-wrapper">

    <div id="bcTarget" ng-show="false"></div>
    <canvas id="micanvas" ng-show="false"></canvas>
  <h2>RECIBIR GARANTIAS CLIENTE</h2>
  <div data-toggle="collapse" data-target="#desdeArchivo" class="ui-content">Desde archivo</div>
  <div id="desdeArchivo" class="collapse">
    <input type="file" class="btn green"  on-read-file="showContent($fileContent)" />

    </div>

    <div ng-if="digital.length>0">
        <h3>Cantidad de garantías: {{ digital.length }}</h3>

    </div>
    <div ng-show="false">
        <h3>Radicado: {{ numero[0].number }}</h3>

    </div>
    <div class="form-group">
    <div class="col-sm-12" >
        <div data-toggle="collapse" data-target="#demo" class="ui-content">Ver Columnas</div>
      <div id="demo" class="collapse">
      <div ng-repeat="c in all_columns" >

          <input type="checkbox" ng-model="c.checked"/>
          {{c.title}}
          <select  ng-model="c.columnName" >
              <option ng-repeat="r in fields" value="{{r.key}}">{{r.value}}</option>
          </select>

      </div>
          <div>
              <select  ng-model="columnName" >
                  <option ng-repeat="r in fields" value="{{r.key}}">{{r.value}}</option>
              </select>
          <button class="btn green" ng-click="addColumn(columnName)">Agregar Columna</button>
          </div>
    </div>
        
      </div>
    </div>
    
    
    
    <table  ng-table="tablaGarantias" show-filter="true"   export-csv="csv" separator=";" class="table table-striped table-hover table-condensed " >
        <thead>
        <tr>
            <th> id </th>

          <th ng-repeat="c in columns">{{ c.title }}
          </th>
          <th> opciones </th>
        </tr>
        </thead>
        <tr ng-repeat="c in digital" ng-include="getTemplate(c)">
            <!--td data-title="'r0'"  sortable="'r0'" filter="{ 'r0': 'text'}">{{ c.r0 }}</td>
            <td data-title="'r0'"  sortable="'r1'" filter="{ 'r2': 'text'}">{{ c.r1 }}</td>
            <td data-title="'r0'"  sortable="'r2'" filter="{ 'r1': 'text'}">{{ c.r2 }}</td>
            <td><button class="btn btn-danger" ng-click="removeRow($index)">del</button></td>
            <td><button ng-click="editRow(c)">Edit</button></td-->
            
        </tr>
    </table>
    
     <script type="text/ng-template" id="display">
            <th>{{c.id}}</th>
          <td ng-repeat="e in columns">{{ c[e.title] }}</td>
            <button ng-click="editRow(c)" class="btn green">Modificar</button>
            <button ng-click="removeRow($index)" class="btn btn-danger">Quitar</button>
        </th>
        
    </script>
    <script type="text/ng-template" id="edit">
        <td>{{c.id}}</td>
        <td ng-repeat="e in columns"><input type="text" ng-model="digital.selected[e.title]" /></td>
        <td>
            <button ng-click="saveRow($index)" class="btn green">Guardar</button>
            <button ng-click="reset()" class="btn btn-danger">Cancelar</button>
        </td>
    </script>
      <button class="btn green" ng-click="addRow()">Agregar Registro</button>
      <button class="btn green" ng-click="createPlanilla()">Confirmar Planilla</button>
</div>



