<div ng-controller="LoginController">
<div class=" subheaders" >
    <div data-toggle="collapse" data-target="#ingreso" class="ui-content" >1. Login <div ng-if="autenticado"> Autenticado OK </div> </div>
</div>
<div id="ingreso" class="collapse">
    <form class="navbar-search pull-center">
        <table>
            <tbody>
            <tr>
                <td><span style="float:right;">Usuario:</span> </td>
                <td><input type="text" ng-model="nombre" class="span2" placeholder="Usuario"></td>
            </tr>
            <tr>
                <td><span style="float:right;">Contraseña:</span></td>
                <td><input type="password" ng-model="contrasena" class="span2" placeholder="Contaseña"></td>
                <td>&nbsp; &nbsp;<input type="submit" value="Ingresar"  ng-click="ok(nombre,contrasena)" class="btn green"/></td>
            </tr>

            </tbody>
        </table>


    </form>

</div>
</div>